@model IEnumerable<EntityFrameworkLabb1.Models.Domain.Vacation>

@{
    ViewData["Title"] = "Index";
}

<h1>Ledighet</h1>

<p>
    <a asp-action="Create">Lägg till ny ledighetstyp</a>
</p>
<table class="table table-success table-striped table-hover">
    <thead class="table"><br/>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacationType)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacationType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VacationId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.VacationId">Se detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.VacationId">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
